/*some information from various stackoverflow questions posted*/
body {
  background-color: #fff;
  display: block;
  margin: 0;
}

html, body {
  min-height: 100%;
}
body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 80px;
  margin: 3%;
  color: rgb(71, 61, 61);
  text-shadow: rgb(255, 185, 228) 2px 2px;
  text-align: center;
}

h2 {
  font-size: 50px;
  color: rgb(71, 61, 61);
  text-shadow: rgb(255, 185, 228) 2px 2px;
  text-align: center;
}

h3 {
  font-size: 30px;
  color: rgb(71, 61, 61);
  text-shadow: rgb(255, 185, 228) 2px 2px;
  text-align: center;
}


.container .card{
  background-color: rgba(80, 80, 80, 0.192);
}





