.section {
  /* position is relative becues we will have a lot of absolute
  positions within */
  position: absolute;
  /* width: 100%; */
  /* vh stands for viewport height, whatever we see, from top to bottom corner */
  /* height: 100vh; */

  /* all the content will be in the center */
  display: flex; 
  align-items: center;
  
  
  
}

.header{
  position: relative;
  text-align: center;
  font-family: cursive;
}

/* welcome font */
h1{
  font-size: 50px;
  padding: 20px;
  font-family: cursive;
  text-align: center;
  color: pink;
  text-shadow: 2px 2px black;
  /* white-space: nowrap; prevents text from wrapping */
  z-index: 2;
}

h2{
  font-size: 30px;
  text-decoration: none;
  color: pink;
  padding: 30px;
  background-color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px pink; 

}

h4{
  font-size: 25px;
  text-decoration: none;
  color:black;
  padding: 20px;
  display: inline-block;
  box-shadow: 10px 10px 10px black; 
  z-index: 2;
}

h5{
  font-size: 25px;
  text-decoration: none;
  color: pink;
  padding: 20px;
  display: inline-block;
  box-shadow: 10px 10px 10px pink; 
  z-index: 2;
}


h6{
  font-size: 25px;
  text-decoration: none;
  color: pink;
  padding: 20px;
  display: inline-block;
  background-color: black;
  box-shadow: 10px 10px 10px black; 
  z-index: 2;
}

/* we created a video container div class, so now we can style it here */
.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* for zooming buttons in the home page */
.zoom {
  padding: 30px;
  transition: transform 1s; /* the animation */
  display: inline-block;
  position: relative;
  z-index: 2;

}

.zoom:hover {
  transform: scale(1.5); 
}

/* for zooming images */
.zoomimage {
  transition: transform 1s; /* the animation */
  display: inline-block;
  position: relative;
  z-index: 2;
  padding: 4px;

}

.zoomimage:hover {
  transform: scale(0.9); 
}


/* for zooming buttons in the header (all pages) */
.zoomheader { 
  padding: 20px;
  transition: transform 1s; /* the animation */
  display: inline-block;
  position: relative;
  z-index: 2;

}

.zoomheader:hover {
  transform: scale(1.2); 
}

