/*some information from various stackoverflow questions posted*/
body {
  background-color: #fff;
  display: block;
  margin: 0;
}

.horizontal-nav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family:'Open Sans', 'Helvetica', sans-serif;
  font-size: 1em;
  font-weight: 400;
  display: inline-flex;
  width: 100%;
  position: absolute;
  z-index: 3;
  
}

li ul{
  padding-left:0;
}

.horizontal-nav li {
   width: inherit; 
}

.horizontal-nav li a:link, a:visited {
  -webkit-transition: all 0.3s linear;
  background-color: #000000;
  display: block;
  color:rgb(255, 138, 177);
  width: auto;
  text-align:center;
  padding:20px 20px 20px 15px;
  text-decoration:none;
  
}


.horizontal-nav li a:hover, a:active {
  background-color: #363636;
  color: #fff;
}

.horizontal-nav li ul{
  height: 0px;
  overflow: hidden;
  transition:height 0.3s;
  -webkit-transition:height 0.3s;
  -ms-transition:height 0.3s;
}

.horizontal-nav li:hover ul {
  height: inherit;
}

html, body {
  min-height: 100%;
}
body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin-top: -100px;
  position: absolute;
  font-size: 60px;
  padding-left: 20px;
  top: 30%;
  left: 0;
  right: 0;
  color: rgb(71, 61, 61);
  text-shadow: rgb(255, 185, 228) 2px 2px;
  white-space: nowrap;
}



