$Raleway: "Raleway", sans-serif;

.page-container {
  background: rgb(29, 29, 29);
  width: 100%;
  height: 100vh;
  position: relative;
  display: table;
  overflow: hidden;
}

.introduction-text {
  margin: auto;
  width: 50%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: pink;
  padding: 20px;
  line-height: 30px;
  font-family: fantasy;
  font-size: large;
}

.dividing-text {
  margin: auto;
  width: 50%;
  // border-radius: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: pink;
  // padding: 5px;
  // line-height: 30 px;
  font-family: fantasy;
  font-size: 12px;
}

.slider_title {
  color: #ff8787;
  text-transform: uppercase;
  text-align: center;
  font-family: fantasy;
}

.card-wrapper {
  background-color: transparent;
  position: relative;
  width: 100%;
  padding: 0 10px;
  perspective: 1000px;
  box-sizing: border-box;
  overflow: hidden;
  &:active,
  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
} //card-wrapper

.intro-wrapper {
  background-color: transparent;
  position: relative;
  width: 100%;
  overflow: hidden;
} //intro-wrapper

.card {
  position: relative;
  width: 100%;
  transition: transform 0.8s;
  height: 450px;
  cursor: pointer;
  transform-style: preserve-3d;
  .card-image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: 0.5s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  } //card-image
  &:hover {
    .card-image {
      opacity: 0.4;
      transition: all 0.9s;
    }
    .hover-content {
      transition: all 0.9s;
    }
  }
} //card

.card:hover {
  .hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 1;
  }
}

.container.carousel {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 80px;
}
.carousel {
  .slick-dots {
    bottom: -3.5vw;
    li {
      button {
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        border-radius: 20px;
        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          content: "";
          text-align: center;
          opacity: 0.5;
          color: #000;
          background-color: #fff;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease-in-out;
        }
      }
      &.slick-active,
      &:hover {
        button {
          border-color: tomato;
          &:before {
            background-color: tomato;
            opacity: 1;
          }
        }
      }
    }
  }

  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    background-color: #fff;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: #fff;
    outline: none;
    background: #fff;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #000;
    font-family: $Raleway;
  }
  .slick-next {
    right: -55px;
  }
  .slick-prev {
    left: -55px;
  }
}

.card__face--back,
.card__face--front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card__face--back {
  border-radius: 16px;
  transform: rotateY(180deg);
  overflow: hidden;
}

.card__face--front {
  background: rgb(0, 0, 0);
  border-radius: 16px;
  overflow: hidden;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

span {
  color: black;
}

.section.is-hidden {
  display: none;
}

.coming-soon {
  font-family: fantasy;
  color: pink;
}
