.home-container {
  background: linear-gradient(
    to right,
    rgba(255, 135, 135, 100) 0%,
    rgba(255, 135, 135, 100) 50%,
    #000000 50%,
    #000000 100%
  );
  // background: black;
  font-family: Aclonica;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-weight: 30;
  font-size: 75px;
  position: relative;
}

.profile-container {
  background-color: #ffd6d6;
  width: 400px;
  height: 200px;
  float: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  // padding: 10px;
  display: table;
  color: #000000;
  font-family: "Snell Roundhand";
  font-size: 50px;
}

.icon-container {
  background-color: #fff0de;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

h5, h6 {
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; ;
}


.svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.center-container {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 500px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}

a {
  color: inherit;
  &:hover{
    color: #ff7d7d;
  }
}

a:link {
  text-decoration: none !important;
}

.animation-right:hover {
  animation: danceRight 1s linear infinite;
}

@keyframes danceRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-3%, 0);
  }
  50% {
    transform: translate(3%, 0);
  }
}

.animation-left:hover {
  animation: danceLeft 1s linear infinite;
}

@keyframes danceLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(3%, 0);
  }
  50% {
    transform: translate(-3%, 0);
  }
}
