
  .button {
    background-color: #000000;
    border: none;
    color: rgb(204, 204, 204);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
    
  }
  
  .button:hover {
    box-shadow: 2px 2px 10px black;
  }
  
  .page-container{
    background: rgb(29, 29, 29);
    width: 100%;
    height: 100vh;
    position: relative;
    display: table;
    overflow: hidden;
  }
  
  .introduction-panel {
    margin: auto;
    width: 75%;
    border-radius: 25px;
    font-family: Raleway;
    padding: 10px;
    color: pink;
    line-height: 30px;
  }
  
  @media only screen and (max-width: 1023px) {
    .timeline-item-content {
      max-width: 100%;
    }
  }
  
  
  h3,
  h4,
  h5 {
    margin: 5px 5px;
    padding: 0px;
  }
  
  h3 {
    padding-top: 20px;
  }
  h4 {
    color: rgb(60, 60, 60);
  }
  
  h5 {
    color: rgb(94, 94, 94);
  }
  
  p {
    white-space: pre-wrap;
  }
  
  ul {
    display: inline-block; 
	  text-align: left; 
  }
  li {
    margin-left: 1em;
  }
  


.vertical-timeline.vertical-timeline-custom-line::before {
  background: #424242;
}

.vertical-timeline-element{
  border-radius: 20px;
}


span{
  text-align: left;
  color: gray;
}

.date{
  color: gray;
}

.skill-container{
  width:75%;
  display: inline-block;
}


.skill{
  display: inline-block;
  background-color: #222222;
  padding: 20px;
  font-family: Raleway;
  font-weight: bold;
  color: gray;
  margin: 10px;
  transition: 0.3s;
}

.skill-box{
  height: 60px;
  width:60px;
}

.skill:hover{
  background-color: rgb(112, 112, 112);
  color: rgb(0, 0, 0);
}


