@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?x5d81f");
  src: url("fonts/icomoon.eot?x5d81f#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?x5d81f") format("truetype"),
    url("fonts/icomoon.woff?x5d81f") format("woff"),
    url("fonts/icomoon.svg?x5d81f#icomoon") format("svg");
  src: local("icomoon"), url(fonts/icomoon.woff?x5d81f) format("woff");
  src: url("fonts/icomoon.eot?x5d81f");
  src: url("fonts/icomoon.eot?x5d81f#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?x5d81f") format("truetype"),
    url("fonts/icomoon.woff?x5d81f") format("woff"),
    url("fonts/icomoon.svg?x5d81f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ADDED CODE */
[data-icon]::before {
  font-family: "icomoon";
  content: attr(data-icon);
  margin-right: 8px;
  /* speak: none; */
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-Pisces:before {
  content: "\70";
}
.icon-Aquarius:before {
  content: "\61";
}
.icon-capricorn:before {
  content: "\63";
}
.icon-sagittarius:before {
  content: "\e903";
}
.icon-Scorpio:before {
  content: "\73";
}
.icon-Libra:before {
  content: "\e905";
}
.icon-virgo:before {
  content: "\76";
}
.icon-leo:before {
  content: "\6c";
}
.icon-cancer:before {
  content: "\e908";
}
.icon-gemini:before {
  content: "\67";
}
.icon-taurus:before {
  content: "\74";
}
.icon-aries:before {
  content: "\e90b";
}
