.home-container {
  background: linear-gradient(
    to right,
    #ff8787 0%,
    #ff8787 50%,
    #000000 50%,
    #000000 100%
  );
  font-family: Aclonica;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-weight: 30;
  font-size: 75px;
  position: relative;
}

.profile-container {
  background: linear-gradient(
    to bottom,
    rgb(255, 214, 214) 0%,
    rgb(255, 214, 214) 85%,
    #fff0de 85%,
    #fff0de 100%
  );
  width: 300px;
  height: 400px;
  float: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 10px;
  display: table;
  color: #000000;
  font-family: "Snell Roundhand";
  font-size: 50px;
}

.svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.center-container {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 500px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
}

a:link {
  text-decoration: none !important;
}

.animation-right:hover {
  animation: danceRight 1s linear infinite;  
}

@keyframes danceRight {
  0%   { transform: translate(0, 0); }
  50% { transform: translate(-3%, 0); }
  50% { transform: translate(3%, 0); }
}

.animation-left:hover {
  animation: danceLeft 1s linear infinite;  
}

@keyframes danceLeft {
  0%   { transform: translate(0, 0); }
  50% { transform: translate(3%, 0); }
  50% { transform: translate(-3%, 0); }
}