.home-container {
  background: linear-gradient(
    to right,
    #ff8787 0%,
    #ff8787 50%,
    #000000 50%,
    #000000 100%
  );
  font-family: Aclonica;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-weight: 30;
  font-size: 75px;
  position: relative;
  //display: table;
  // overflow: hidden;
}

.profile-container {
  //background-color: rgb(255, 214, 214);
  background: linear-gradient(
    to bottom,
    rgb(255, 214, 214) 0%,
    rgb(255, 214, 214) 85%,
    #fff0de 85%,
    #fff0de 100%
  );
  width: 300px;
  height: 400px;
  float: center;
  //margin-top: 10%;
  position: absolute;
  //margin: 0 auto;
  left: 50%;
  top: 50%;
  //transform: translateX(-50%);
  transform: translate(-50%, -50%);
  margin: 10px;
  display: table;
  color: #000000;
  font-family: "Snell Roundhand";
  font-size: 50px;
  //float: center;
}

.svg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

.home-text {
  z-index: 1;
  left: 0;
  position: relative;
  text-align: center;
  top: 20%;
  width: 100%;
  display: table-row;
  height: inherit;
  white-space: nowrap;
}

.button-center-left {
  //margin: auto;
  margin: 0;
  position: relative;
  //-ms-transform: translateY(-60%);
  //transform: translateY(-60%);
  width: 5%;
  //float: left;
  display: inline-block;
}

.button-center-right {
  //margin: auto;
  margin: 0;
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
  position: relative;
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
  width: 95%;
  //float: right;
  display: inline-block;
}

.center-container {
  // margin: 0 auto;
  width: 100%;
  // //margin: 0;
  // position: relative;
  // // top: 50%;
  // // -ms-transform: translateY(-50%);
  // // transform: translateY(-50%);
  //display: flex;
  // // justify-content: center;
  // // align-items: center;
  // //display: flex;
  // //justify-content: center;
  // //align-items: center;
  // height: 200px;
  //margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  //display: inline-flex;
}

.button-center-left:hover {
  color: pink;
}

.button-center-right:hover {
  color: pink;
}

a:link {
  text-decoration: none !important;
}
