
  .button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .button:hover {
    box-shadow: 2px 2px 10px black;
  }
  
  .page-container{
    background: rgb(29, 29, 29);
    width: 100%;
    height: 100vh;
    position: relative;
    display: table;
    overflow: hidden;
  }
  
  .introduction-panel {
    margin: auto;
    width: 50%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.454);
    padding: 20px;
    line-height: 30px;
  }
  
  @media only screen and (max-width: 1023px) {
    .timeline-item-content {
      max-width: 100%;
    }
  }
  
  
  h3,
  h4,
  h5 {
    margin: 5px 5px;
    padding: 0px;
  }
  
  h3 {
    padding-top: 20px;
  }
  h4 {
    color: rgb(60, 60, 60);
  }
  
  h5 {
    color: rgb(94, 94, 94);
  }
  
  p {
    white-space: pre-wrap;
  }
  
  ul {
    display: inline-block; 
	  text-align: left; 
  }
  li {
    margin-left: 1em;
  }
  

.vertical-timeline.vertical-timeline-custom-line::before {
  background: #424242;
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px rgb(249, 205, 255), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  
}

span{
  text-align: left;
  color: gray;
}

.date{
  color: gray;
}
